body {
	/*background-color: lightgrey;*/
	background-image: url("../images/NFL2.jpg");
}
.player-card {
	display: inline-block;
	border: 1px solid black;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.player-roster {
	border: 1px solid black;
    min-height: 300px;
}
.player-form {
	/*background-color: darkgreen;*/
	background-image: url("../images/turf2.jpg");
	border: 1px solid black;
}
input {
	padding: 5px;
	margin: 5px;
}
#addPlayer {
	color:black;
	margin: 10px;
}
#createHeading {
	background-color: lightgreen;
	color: black
}
/*panel-body{
    	background-image: url("../images/NFL4.jpg");
}*/
#main-container{
    background-image: url("../images/turf.jpg");
    color:white;
}